=bootstrap_form_for [@client, @benefit] do |f|
  =f.collection_select :benefit_category_id,Ref::BenefitCategory.all,:id,:code_with_short_name, :label => "Льготная категория"
  =f.text_field :doc_name, :label => "Документ"
  =f.text_field :doc_seria, :label => "Серия"
  =f.text_field :doc_num, :label => "Номер"
  =f.text_field :doc_given_by, :label => "Кем выдан"
  =f.date_select :doc_date, :label => "Дата выдачи"
  =f.check_box :prim, :label => "Основная льгота ?"
  .form-actions
    =f.submit "Сохранить",:class => "btn primary"
