.clearfix
  .input
    %ul.inputs-list
      %li
        %label
          =f.check_box field_name
          %span
            =label

 <div class="clearfix">
  <div class="input">
   <ul>
     <li>
       <label>
        <input name="benefit[prim]" type="hidden" value="0" />
        <input id="benefit_prim" label="Основная льгота ?" name="benefit[prim]" type="checkbox" value="1" />Основная льгота ?</label>
      </li>
   </ul>
 </div>
</div>
