.clearfix
  =f.label label
  .input
    -if defined?(class_name)
      =f.text_field field_name,:class => "span6 #{class_name}"
    -else
      =f.text_field field_name,:class => "span6"
    -if hint
      %span.help-block
        =hint
