.clearfix
  .input
    %ul.inputs-list
      %li
        %label
          -if defined?(checked)
            =f.radio_button field_name,tag_value,:checked => true
          -else
            =f.radio_button field_name,tag_value
          %span
            =label

