=bootstrap_form_for [@client, @disp] do |f|
  = f.error_messages
  %fieldset
    %legend 
      Исходные данные
    =f.date_select :actual_date, :label => "Дата направления" 
    =f.collection_select :user_id, User.all,:id,:short_fio_with_doctor_type, :label => "Врач"
    =f.text_field :mkb, :label => "Заболевание"
  %fieldset
    %legend 
      Диспансерная группа
    =f.radio_button :disp_group,1,:label => "1",:checked => true 
    =f.radio_button :disp_group,2,:label => "2"
    =f.radio_button :disp_group,3,:label => "3"
    =f.radio_button :disp_group,4,:label => "4"
    =f.radio_button :disp_group,5,:label => "5"
  %fieldset
    %legend 
      Тип
    =f.radio_button :disp_type,1,:label => "Плановый визит", :checked => true 
    =f.radio_button :disp_type,2,:label => "Постановка на учет"
    =f.radio_button :disp_type,3,:label => "Снятие с учета"
  %fieldset
    %legend 
      Заключение
    =f.radio_button :result,1,:label => "Без изменений", :checked => true 
    =f.radio_button :result,2,:label => "Лучше" 
    =f.radio_button :result,3,:label => "Хуже"



  .actions
    =f.submit "Сохранить",:class => "btn primary"
