=bootstrap_form_for [@client, @diagnostic_test], :validate => true do |f|
  =f.date_select :test_date,:label => "Дата"
  =f.collection_select :diagnostic_test_type_id,Ref::DiagnosticTestType.all,:id,:name,:label => "Тип анализа"
  =f.text_field :result, :label => "Результат"
  .actions
    =f.submit "Сохранить",:class => "btn primary"
