= simple_form_for [@prof_inspection.client,@prof_inspection,@diagnosis] do |f|
  =f.error_notification
  %div{:class => "input string optional"}
    %label{:class => "string optional"} Заболевание
    =text_field_tag :mkb
  =f.input :mkb_type_id,:as => :hidden
  =f.input :first_detected,:label => "Выявлено впервые ?"
  =f.submit "Сохранить"

