=form_for [@prof_inspection.client,@prof_inspection,@diagnosis] do |f|
  =render :partial => "form_helpers/check",:locals => {:f => f,:label => "Выявлено впервые", :field_name => "first_detected", :hint => "" }
  =render :partial => "form_helpers/check",:locals => {:f => f,:label => "Стат. талон выдан ?", :field_name => "stat_card", :hint => "" }
  =render :partial => "form_helpers/input",:locals => {:f => f,:label => "Заболевание", :field_name => "mkb", :hint => "" }
  .actions
    =f.submit "Сохранить",:class => "btn primary"
