=form_for [@client, @mse] do |f|
  =render :partial => "form_helpers/association",:locals => {:f => f,:label => "Врач", :field_name => "user_id", :hint => "",:collection => User.all,:text_method => :name }
  =render :partial => "form_helpers/association",:locals => {:f => f,:label => "Заболевание", :field_name => "mkb_type_id", :hint => "",:collection => Ref::MkbType.all,:text_method => :name }
  =render :partial => "form_helpers/date",:locals => {:f => f,:label => "Дата направления", :field_name => "send_date", :hint => "" }
  =render :partial => "form_helpers/check",:locals => {:f => f,:label => "ИПР", :field_name => "ipr", :hint => "" }

  =render :partial => "form_helpers/radio",:locals => {:f => f,:label => "Впервые 1 группа", :field_name => "first", :hint => "",:tag_value => 1 }
  =render :partial => "form_helpers/radio",:locals => {:f => f,:label => "Впервые 2 группа", :field_name => "first", :hint => "",:tag_value => 2 }
  =render :partial => "form_helpers/radio",:locals => {:f => f,:label => "Впервые 3 группа", :field_name => "first", :hint => "",:tag_value => 3 }


  =render :partial => "form_helpers/radio",:locals => {:f => f,:label => "Завышение (3-2)", :field_name => "re", :hint => "",:tag_value => 1 }
  =render :partial => "form_helpers/radio",:locals => {:f => f,:label => "Завышение (3-1)", :field_name => "re", :hint => "",:tag_value => 2 }
  =render :partial => "form_helpers/radio",:locals => {:f => f,:label => "Завышение (2-1)", :field_name => "re", :hint => "",:tag_value => 3 }


  .actions
    =f.submit "Сохранить",:class => "btn primary"
