=bootstrap_form_for [@client, @mse] do |f|
  =f.error_messages
  %fieldset
    %legend 
      Направление
    =f.collection_select :user_id,User.all,:id,:short_fio_with_doctor_type, :label => "Врач"
    =f.text_field :mkb,:label => "Заболевание"
    =f.date_select :send_date,:label => "Дата направления"
    =f.check_box :ipr,:label => "ИПР ?"
    =f.check_box :consultation,:label => "Консультация ?"  
  %fieldset
    %legend 
      Впервые
    =f.radio_button :reason,Mse::REASON_UNCHOSEN,:label => "Не выбрано"
    =f.radio_button :reason,Mse::REASON_INIT_FIRST,:label => "Впервые 1 группа" 
    =f.radio_button :reason,Mse::REASON_INIT_SECOND,:label => "Впервые 2 группа"
    =f.radio_button :reason,Mse::REASON_INIT_THIRD,:label => "Впервые 3 группа"
  %fieldset
    %legend 
      Переосвидетельствование
    =f.radio_button :reason,Mse::REASON_RE_FIRST,:label => "1 группа" 
    =f.radio_button :reason,Mse::REASON_RE_SECOND,:label => "2 группа" 
    =f.radio_button :reason,Mse::REASON_RE_THIRD,:label => "3 группа" 
    =f.radio_button :reason,Mse::REASON_RE_3_1,:label => "Завышение (3-1)"
    =f.radio_button :reason,Mse::REASON_RE_2_1,:label => "Завышение (2-1)"
    =f.radio_button :reason,Mse::REASON_RE_3_2,:label => "Завышение (3-2)"
  %fieldset
    %legend 
      Заключение
    =f.radio_button :conclusion_group,Mse::C_REFUSED,:label => "Отказано" 
    =f.radio_button :conclusion_group,Mse::C_FIRST,:label => "1 группа" 
    =f.radio_button :conclusion_group,Mse::C_SECOND,:label => "2 группа" 
    =f.radio_button :conclusion_group,Mse::C_THIRD,:label => "3 группа" 

    =f.date_select :conclusion_till,:label => "На срок"
    =f.check_box :indefinitely, :label => "Бессрочно"
    =f.date_select :conclusion_date,:label => "Дата выдачи заключения"




  .actions
    =f.submit "Сохранить",:class => "btn primary"
