=bootstrap_form_for [@client, @mse] do |f|
  =f.error_messages
  %fieldset
    %legend 
      Направление
    =f.collection_select :user_id,User.all,:id,:short_fio_with_doctor_type, :label => "Врач"
    =f.text_field :mkb,:label => "Заболевание"
    =f.date_select :send_date,:label => "Дата направления"
    =f.check_box :ipr,:label => "ИПР ?"
    =f.check_box :consultation,:label => "Консультация ?"  
  %fieldset
    %legend 
      Впервые
    =f.radio_button :reason,0,:label => "Не выбрано"
    =f.radio_button :reason,1,:label => "Впервые 1 группа" 
    =f.radio_button :reason,2,:label => "Впервые 2 группа"
    =f.radio_button :reason,3,:label => "Впервые 3 группа"
  %fieldset
    %legend 
      Переосвидетельствование
    =f.radio_button :reason,4,:label => "Без изменения" 
    =f.radio_button :reason,5,:label => "Завышение (3-1)"
    =f.radio_button :reason,6,:label => "Завышение (2-1)"
    =f.radio_button :reason,7,:label => "Завышение (3-2)"
  %fieldset
    %legend 
      Заключение
    =f.radio_button :conclusion_group,0,:label => "Отказано" 
    =f.radio_button :conclusion_group,1,:label => "1 группа" 
    =f.radio_button :conclusion_group,2,:label => "2 группа" 
    =f.radio_button :conclusion_group,3,:label => "3 группа" 

    =f.text_field :conclusion_till,:label => "На срок",:hint => "дней"
    =f.check_box :indefinitely, :label => "Бессрочно"
    =f.date_select :conclusion_date,:label => "Дата выдачи заключения"




  .actions
    =f.submit "Сохранить",:class => "btn primary"
