=bootstrap_form_for [@ref_mkb_type] do |f|
  =f.error_messages
  =f.text_field :name,:label => "Наименование", :field_name => "name"
  =f.text_field :code,:label => "Код", :field_name => "code"
  =f.collection_select :doctor_type_id, Ref::DoctorType.all,:id,:name,:label => "Специалист"
  .actions
    =f.submit "Сохранить",:class => "btn primary"
