=bootstrap_form_for [@client, @hospitalization] do |f|
  =f.collection_select :hospitalization_type_id, Ref::HospitalizationType.all,:id,:name, :label => "ЛПУ"
  =f.select :kind, [["Плановая",0],["Экстренная",1]],:label => "Тип"
  =f.date_select :period_start,:label => "Госпитализация с"
  =f.date_select :period_end,:label => "...по"

  =f.text_field :mkb, :label => "Заболевание"
  .actions
    =f.submit "Сохранить",:class => "btn primary"
