=paginate @prof_inspections
%table.zebra-striped
  %tr
    %th= sortable("actual_date","Дата")
    %th= sortable("inspection_type","Тип")
    %th= sortable("user","Врач")
    %th Стат. талон
    %th Заключение
    %th
    %th
  
    = render :partial => "by_year", :collection => @prof_inspections, :as => :prof_inspection
