- present "ClientOperations" do |p|
  -p.prepare(@prof_inspections,"Данные о профосмотрах",notice,@client)


  =p.client_header

  =p.table_or_empty do
    %table.zebra-striped
      %tr
        %th Дата
        %th Врач
        %th Стат. талон
        %th Заключение
        %th
        %th
        %th
        = render :partial => "by_year", :collection => @prof_inspections, :as => :prof_inspection

%br
= link_to t(:new_record), new_client_prof_inspection_path
