%tr
  %td.underlined.caption_field
    ="#{field_name}"
  %td.underlined.client_field
    -if defined?(emph)
      %span{:class => "label #{emph}"}
        =field_value
    -else
      =field_value  
