%tr
  %td.underlined.caption_field
    ="#{field_name}"
  %td.underlined.client_field
    -if defined?(emph)
      %div{:class => "label #{emph}",:style => "word-wrap: break-word;display: inline;"}
        =field_value
    -else
      =field_value  
