= bootstrap_form_for [@client] do |f|
  =f.error_messages
  %fieldset
    %legend 
      Общие данные
    =f.text_field :num_card, :label => "Номер карты", :field_name => "num_card"
    =f.text_field :snils,:label => "СНИЛС"
    =f.collection_select :ins_company_id, Ref::InsCompany.all,:id,:name, :label => "Страховая компания"
    =f.text_field :ins_seria,:label => "Серия полиса" 
    =f.text_field :ins_num, :label => "Номер полиса"
    =f.text_field :surname, :label => "Фамилия"
    =f.text_field :name, :label => "Имя"
    =f.text_field :father_name, :label => "Отчество"
    =f.select :client_sex_id,[["М",Client::MALE],["Ж",Client::FEMALE]], :label => "Пол"
    =f.date_select :birth_date, :label => "Дата рождения" 
    =f.text_field :pasp_seria,:label => "Серия паспорта"
    =f.text_field :pasp_num,:label => "Номер паспорта"
  %fieldset
    %legend 
      Контактная информация
    =f.text_field :reg_address,:label => "Адрес регистрации"
    =f.text_field :real_address,:label => "Адрес местанахождения"
    =f.text_field :mobile_phone,:label => "Телефон сотовый"
    =f.text_field :home_phone,:label => "Телефон домашний"
    =f.text_field :work_phone,:label => "Телефон рабочий"
    =f.text_field :relative_phone,:label => "Телефоны родственников"
  %fieldset
    %legend 
      Информация о занятости
    =f.text_field :work_position,:label => "Должность"
    =f.text_field :work_place, :label => "Место работы"
    =f.check_box :pensioner, :label => "Пенсионер ?"
  %fieldset
    %legend 
      Дополнительная информация
    =f.check_box :disabled,:label => "Маломобильный ?"
    =f.check_box :benefit_refuse, :label => "Отказался от льгот ?"
    =f.text_field :drug_intolerance,:label => "Лекарственная непереносимость"
    =f.select :blood_group, [["I+",1],["I-",2],["II+",3],["II-",4],["III+",5],["III-",6],["VI+",7],["VI-",8]],:label => "Группа крови"
    =f.text_field :special_note,:label => "Особые заметки"
    =f.date_select :attach_date,:label => "Дата прикрепления"
    =f.text_field :notes,:label => "Примечания"
  %fieldset
    %legend 
      Дата и причины открепления
    =f.date_select :detach_date,:label => "Дата открепления"
    =f.radio_button :detach_reason, 0,:label => t(:detach_reason_none)
    =f.radio_button :detach_reason, 1,:label => t(:detach_reason_other_clinic)
    =f.radio_button :detach_reason, 2,:label => t(:detach_reason_died_at_home)
    =f.radio_button :detach_reason, 3,:label => t(:detach_reason_died_at_clinic)
  %fieldset
    %legend 
      Дата и причины смерти
    =f.date_select :death_date,:label => "Дата смерти"
    =f.collection_select :death_reason_id,Ref::DeathReason.all,:id,:name,:label => "Причина"


  .actions
    =f.submit "Сохранить",:class => "btn primary"
