= form_for [@client] do |f|
  =f.error_messages
  %fieldset
    %legend 
      Общие данные
    =f.text_field :num_card, :label => "Номер карты", :field_name => "num_card"
    =f.text_field :snils,:label => "СНИЛС"
    =f.collection_select :ins_company_id, Ref::InsCompany.all,:id,:name, label => "Страховая компания", :hint => "застрахован в..."
    =f.text_field :ins_seria,label => "Серия полиса" 
    =f.text_field :ins_num, :label => "Номер полиса"
    =f.text_field :surname, :label => "Фамилия"
    =f.text_field :name, :label => "Имя"
    =f.text_field :father_name, :label => "Отчество"
    =f.collection_select :client_sex_id,:field_name => "client_sex_id", ClientSex.all,:id:sex, :label => "Пол"
    =f.date_select :birth_date, :label => "Дата рождения" 
    =f.text_field :pasp_seria,:label => "Серия паспорта"
    =f.text_field :pasp_num,:label => "Номер паспорта"
  %fieldset
    %legend 
      Контактная информация
    =f.text_field "form_helpers/input",:locals => {:f => f,:label => "Адрес регистрации", :field_name => "reg_address", :hint => "" }
    =f.text_field "form_helpers/input",:locals => {:f => f,:label => "Адрес местанахождения", :field_name => "real_address", :hint => "" }
    =f.text_field "form_helpers/input",:locals => {:f => f,:label => "Телефон сотовый", :field_name => "mobile_phone", :hint => "" }
    =f.text_field "form_helpers/input",:locals => {:f => f,:label => "Телефон домашний", :field_name => "home_phone", :hint => "" }
    =f.text_field "form_helpers/input",:locals => {:f => f,:label => "Телефон рабочий", :field_name => "work_phone", :hint => "" }
    =f.text_field "form_helpers/input",:locals => {:f => f,:label => "Телефоны родственников", :field_name => "relative_phone", :hint => "" }
  %fieldset
    %legend 
      Информация о занятости
    =f.text_field "form_helpers/input",:locals => {:f => f,:label => "Должность", :field_name => "work_position", :hint => "" }
    =f.text_field :work_place, :label => "Место работы"
    =f.check_box f.text_field "form_helpers/check",:locals => {:f => f,:label => "Пенсионер ?", :field_name => "pensioner", :hint => "" }
  %fieldset
    %legend 
      Дополнительная информация
    =f.check_box f.text_field "form_helpers/check",:locals => {:f => f,:label => "Маломобильный ?", :field_name => "disabled", :hint => "" }
    =f.check_box f.text_field "form_helpers/check",:locals => {:f => f,:label => "Отказался от льгот ?", :field_name => "benefit_refuse", :hint => "" }
    =f.text_field "form_helpers/input",:locals => {:f => f,:label => "Лекарственная непереносимость", :field_name => "drug_intolerance", :hint => "" }
    =f.select f.text_field "form_helpers/select",:locals => {:f => f,:label => "Группа крови", :field_name => "blood_group", :hint => "",:collection => [["I+",1],["I-",2],["II+",3],["II-",4],["III+",5],["III-",6],["VI+",7],["VI-",8]]}
    =f.text_field "form_helpers/input",:locals => {:f => f,:label => "Особые заметки", :field_name => "special_note", :hint => "" }
    =f.date_select f.text_field "form_helpers/date",:locals => {:f => f,:label => "Дата прикрепления", :field_name => "attach_date", :hint => "",:value => @client.attach_date }
    = f.text_field "form_helpers/input",:locals => {:f => f,:label => "Примечания", :field_name => "notes", :hint => "" }
  %fieldset
    %legend 
      Дата и причины открепления
    =f.date_select f.text_field "form_helpers/date",:locals => {:f => f,:label => "Дата открепления", :field_name => "detach_date", :hint => "" ,:value => @client.detach_date}
    =f.radio_button f.text_field "form_helpers/radio",:locals => {:f => f,:label => t(:detach_reason_none), :field_name => "detach_reason", :hint => "",:tag_value => 0 }
    =f.radio_button f.text_field "form_helpers/radio",:locals => {:f => f,:label => t(:detach_reason_other_clinic), :field_name => "detach_reason", :hint => "",:tag_value => 1 }
    =f.radio_button f.text_field "form_helpers/radio",:locals => {:f => f,:label => t(:detach_reason_died_at_home), :field_name => "detach_reason", :hint => "",:tag_value => 2 }
    =f.radio_button f.text_field "form_helpers/radio",:locals => {:f => f,:label => t(:detach_reason_died_at_clinic), :field_name => "detach_reason", :hint => "",:tag_value => 3 }
  %fieldset
    %legend 
      Дата и причины смерти
    =f.date_select f.text_field "form_helpers/date",:locals => {:f => f,:label => "Дата смерти", :field_name => "death_date", :hint => "",:value => @client.death_date }
    =f.collection_select f.text_field "form_helpers/association",:locals => {:f => f,:label => "Причина", :field_name => "death_reason_id", :hint => "",:collection => Ref::DeathReason.all,:text_method => :name }


  .actions
    =f.submit "Сохранить",:class => "btn primary"
