=form_for [@ref_med_diagnostic_test_type] do |f|
  =render :partial => "form_helpers/input",:locals => {:f => f,:label => "Наименование", :field_name => "name", :hint => "" }
  .actions
    =f.submit "Сохранить",:class => "btn primary"
