=form_for [@client, @mkb] do |f|
  =render :partial => "form_helpers/date",:locals => {:f => f,:label => "Дата", :field_name => "actual_date", :hint => "" }
  =render :partial => "form_helpers/association",:locals => {:f => f,:label => "Заболевание", :field_name => "mkb_type_id", :hint => "",:collection => Ref::MkbType.all,:text_method => :code_with_name }
  =render :partial => "form_helpers/association",:locals => {:f => f,:label => "Врач", :field_name => "user_id", :hint => "",:collection => User.all,:text_method => :short_fio_with_doctor_type }
  .actions
    =f.submit "Сохранить",:class => "btn primary"
