=bootstrap_form_for [@client, @mkb] do |f|
  =f.date_select :actual_date,:label => "Дата"
  =f.text_field :mkb, :label => "Заболевание"
  =f.collection_select :user_id,User.all,:id,:short_fio_with_doctor_type, :label => "Врач"
  .actions
    =f.submit "Сохранить",:class => "btn primary"
