= link_to content_tag(:span,"",class: "ui-icon ui-icon-triangle-1-w"), operations_client_path(@client)
%br
%h1= @client.fio unless @client.nil?
%br
%h2#lab 
  Лабораторные анализы 
  =render_widget :lab_test_count_widget



%br
=render_widget :lab_test_page_widget
%br

=render_widget :lab_test_form_widget
=render_widget :lab_test_list_widget

