=bootstrap_form_for [@client, @med_diagnostic_test] do |f|
  =f.date_select :test_date,:label => "Дата"
  =f.collection_select :med_diagnostic_test_type_id,Ref::MedDiagnosticTestType.all,:id,:name,:label => "Тип"
  =f.text_field :result,:label => "Результат" 
  .actions
    =f.submit "Сохранить",:class => "btn primary"
