=form_for [@ref_lab_test_type] do |f|
  =render :partial => "form_helpers/input",:locals => {:f => f,:label => "Тип анализа", :field_name => "name", :hint => "" }
  =render :partial => "form_helpers/input",:locals => {:f => f,:label => "Норма", :field_name => "norm", :hint => "" }
  =render :partial => "form_helpers/input",:locals => {:f => f,:label => "Период действия", :field_name => "valid_period", :hint => "количество дней" }
  =render :partial => "form_helpers/input",:locals => {:f => f,:label => "Теги", :field_name => "clin_min_list", :hint => "" }
  .actions
    =f.submit "Сохранить",:class => "btn primary"


