- present "Ref" do |p|
  -p.prepare(@ref_lab_test_types,"Виды анализов",notice,false)

  =p.header


  =form_tag ref_lab_test_types_path, :id => "lab_test_type_search" , :method => 'get' do 
    =hidden_field_tag :direction, params[:direction] 
    =hidden_field_tag :sort, params[:sort] 
    =text_field_tag :search_lab_test_type, params[:search] 
    =submit_tag "Поиск", :name => nil 
    %span{:class => "help-block"}
      В поле поиска можно указать 





  =p.table_or_empty do
    
    %div#lab_test_types
      =render "lab_test_types"

= link_to I18n.t(:new_record),new_ref_lab_test_type_path
