=simple_form_for [@client,@sanatorium_note] do |f|
  =f.error_notification
  =f.input :neediness_ref_date, :label => "Справка о нуждаемости",:hint => "Дата заполнения"
  =f.input :sanatorium_card_fill_date, :label => "Санаторно-курортная карта", :hint => "Дата заполнения"
  =f.association :sanatorium, :label => "Санаторий"
  =f.input :period_start, :label => "Дата заезда"
  =f.input :period_end, :label => "Дата выбытия"
  = f.submit "Сохранить"
