=form_tag rep_service_index_path(:format => 'pdf'),:class => "well form-horizontal " do |f|
  =render :partial => "form_helpers/input_tag",:locals => {:label => "Сумма",  :field_name => "summa", :value => "",:hint =>""}
  =hidden_field_tag :client_id, @client_id
  .form-actions
    =submit_tag "Сохранить",:class => "btn primary"


