%h3 Возрастная структура умерших
- report "DeadsByAges" do |p|
  - p.prepare_fixed_num_rows(sd,ed,years,5,sector_num)
  %table.condensed-table.zebra-striped


    %thead
      %tr
        %th Наименование
        -years.each do |k|
          %th{:colspan =>2}= k
      %tr
        %th 
        -years.each do |k|
          %th факт
          %th % 

    %tbody

      - {1 => "До 60 лет",
         2 => "60 - 69",
         3 => "70 - 79",
         4 => "80 - 89",
         5 => "Старше 90"}.each do |k,v|
        %tr
          %td
            =v
            -p.years.each do |year|
              %td= p.observed(year,k)
              %td= p.get_rel(p.observed(year,k),p.year_total(year))
      %tr
        %td
          Всего
          -p.years.each do |year|
            %td= p.year_total(year)
            %td 100 %
