- present "DeadsByAges" do |p|
  %table.condensed-table.zebra-striped

    %thead
      %tr
        %th Наименование
        -years.each do |k|
          %th{:colspan =>2}= k
      %tr
        %th 
        -years.each do |k|
          %th Абс. число
          %th % 

    %tbody

      -by_age_and_date.each_pair do |dn,item|
        %tr
          %td=dn
          -years.each do |year|
            %td
              = p.abs_row_value(item[year])
            %td
              = p.rel_row_value(item[year],by_years[year].count)
      %tr
        %td Всего
        -years.each do |year|
          %td{:colspan => 2}= by_years[year].count




