%h3 Структура врачебных посещений
- report "DoctorVisitStructure" do |p|
  - p.prepare_fixed_num_rows(sd,ed,years,2,sector_num)

  %table.table.table-condensed.table-striped.table-bordered

    %thead
      %tr
        %th Наименование
        -years.each do |k|
          %th{:colspan =>2}= k
      %tr
        %th 
        -years.each do |k|
          %th факт
          %th % 

    %tbody

      - {1 => "По поводу заболеваний",
         2 => "По поводу профилактических осмотров"}.each do |k,v|
        %tr
          %td
            =v
            -p.years.each do |year|
              %td= p.observed(year,k)
              %td= p.get_rel(p.observed(year,k),p.year_total(year))
      %tr
        %td
          Всего
          -p.years.each do |year|
            %td= p.year_total(year)
            %td 100 %
