%h3 Госпитализация
- report "Hosp" do |p|
  - p.prepare(sd,ed,years)

  %table.condensed-table.zebra-striped

    %thead
      %tr
        %th Наименование
        -years.each do |k|
          %th{:colspan =>2}= k
      %tr
        %th Плановая госпитализация
        -years.each do |k|
          %th абс.
          %th % 

    %tbody

      %tr
        %td Всего нуждались в госпитализации
        -p.years.each do |year|
          %td=p.plan_total(year)
          %td 100%

      %tr
        %td Госпитализировано из них
        -p.years.each do |year|
          %td=p.plan_total(year)
          %td 100%

      -p.plan_places.each_pair do |place_name,sent|
        %tr
          %td=place_name
          -p.years.each do |year|
            %td=p.value_or_zero(sent[year])
            %td=p.get_rel(sent[year],p.plan_total(year))


      %tr
        %th Экстренная госпитализация
        -years.each do |k|
          %td 
          %td 
      - {0 => "Нуждалось в госпитализации",
         1 => "Госпитализировано",
         2 => "Не госпитализировано, из них: ",
         3 => "В связи с отказом больного",
         4 => "В связи с отстутствием мест",
         5 => "В связи с не подтвержденным диагнозом"}.each do |k,v|
        %tr
          %td
            =v
            -p.years.each do |year|
              %td= p.observed(year,k)
              %td= p.get_rel(p.observed(year,k),p.observed(year,0))





