%h3 Госпитализация больных терапевтического профиля по экстренным показаниям
- report "HospTherapExtra" do |p|
  - p.prepare(sd,ed,years)

  %table.condensed-table.zebra-striped

    %thead
      %tr
        %th Наименование
        -years.each do |k|
          %th{:colspan =>2}= k
      %tr
        %th 
        -years.each do |k|
          %th факт
          %th % 

    %tbody

      %tr
        %td
          Всего
          -p.years.each do |year|
            %td= p.year_total(year)
            %td 100 %

      - {0 => "Сердечно-сосудистой системы",
         1 => "Болезни органов дыхания",
         2 => "Болезни органов пищеварения"}.each do |k,v|
        %tr
          %td
            =v
            -p.years.each do |year|
              %td= p.observed(year,k)
              %td= p.get_rel(p.observed(year,k),p.year_total(year))
