%h3 Число обследованных маломобильных больных
- report "InspectedDisablesCount" do |p|
  - p.prepare(sd,ed,years,sector_num)
  - p.fill

  %table.table.table-condensed.table-striped.table-bordered

    %thead
      %tr
        %th Название 
        -years.each do |k|
          %th{:colspan =>2}= k

      %tr
        %th 
        -years.each do |k|
          %th факт
          %th % 
    %tbody

      -p.tests.each_pair do |place_name,sent|
        %tr
          %td=place_name
          -p.years.each do |year|
            %td=p.value_or_zero(sent[year])
            %td=p.get_rel(sent[year],p.tests_total(year))

      %tr
        %td Всего
        -p.years.each do |year|
          %td=p.tests_total(year)
          %td 100%
