%h3 Выход на инвалидность
- report "Invalids" do |p|
  - p.prepare_fixed_num_rows(sd,ed,years,13,sector_num)

  %table.table.table-condensed.table-striped.table-bordered

    %thead
      %tr
        %th Наименование
        -years.each do |k|
          %th{:colspan =>2}= k
      %tr
        %th 
        -years.each do |k|
          %th Абс. число
          %th % 

    %tbody

      - {1 => "Количество ИОВ, направленных на завышение группы инвалидности",
         2 => "Из них со 2 на 1 группу",
         3 => "с 3 на 2 группу",
         4 => "Количество УОВ, направленных для завышения группы инвалидности",
         5 => "Из них со 2 на 1 группу",
         6 => "с 3 на 2 группу",
         7 => "ИПР",
         8 => "Количество пациентов, направленных для определения группы впервые",
         9 => "Ежегодное переосвидетельствование",
         10 => "Из них 2 группа",
         11 => "3 группа",
         12 => "с 3 на 2 группу",
         13 => "Из освидетельствованных маломобильные"}.each do |k,v|
        %tr
          %td
            =v
            -p.years.each do |year|
              %td= p.observed(year,k)
              %td= p.get_rel(p.observed(year,k),p.year_total(year))
      %tr
        %td
          Всего
          -p.years.each do |year|
            %td= p.year_total(year)
            %td 100 %
