%h3 Выход на инвалидность
- report "Invalids" do |p|
  - p.prepare(sd,ed,years)

  %table.condensed-table.zebra-striped

    %thead
      %tr
        %th Наименование
        -years.each do |k|
          %th{:colspan =>2}= k
      %tr
        %th 
        -years.each do |k|
          %th Абс. число
          %th % 

    %tbody

      - {1 => "Количество ИОВ, направленных на завышение группы инвалидности",
         2 => "Из них со 2 на 1 группу",
         3 => "с 3 на 2 группу",
         4 => "Количество УОВ, направленных для завышения группы инвалидности",
         41 => "Из них со 2 на 1 группу",
         42 => "с 3 на 2 группу",
         5 => "ИПР",
         6 => "Количество пациентов, направленных для определения группы впервые",
         7 => "Ежегодное переосвидетельствование",
         8 => "Из них 2 группа",
         9 => "3 группа",
         10 => "с 3 на 2 группу",
         11 => "Из освидетельствованных маломобильные"}.each do |k,v|
        %tr
          %td
            =v
            -p.fill(p.years,k)
            -p.years.each do |year|
              %td= p.observed(year,k)
              %td= p.get_rel(p.observed(year,k),p.totals_by_year[year])
      %tr
        %td
          Всего
          -p.years.each do |year|
            %td= p.totals_by_year[year]
            %td 100 %
