%h3 Структура численного состава
- report "PeopleStructure" do |p|
  - p.prepare_fixed_num_rows(sd,ed,years,11,sector_num)

  %table.condensed-table.zebra-striped

    %thead
      %tr
        %th Наименование
        -years.each do |k|
          %th{:colspan =>2}= k
      %tr
        %th 
        -years.each do |k|
          %th факт
          %th % 

    %tbody

      - {1 => "ИОВ",
         2 => "УОВ",
         3 => "Участники, вооруженных конфликтов",
         4 => "Члены семей погибших военнослужащих",
         5 => "Жители блокадного Ленинграда",
         6 => "Бывшие малолетние узники концлагерей",
         7 => "Участники трудового фронта",
         8 => "Репрессированные",
         9 => "Ликвидаторы аварии на ЧАЭС",
         10 => "Ветераны труда",
         11 => "Пенсионеры"}.each do |k,v|
        %tr
          %td
            =v
            -p.years.each do |year|
              %td= p.observed(year,k)
              %td= p.get_rel(p.observed(year,k),p.year_total(year))
      %tr
        %td
          Всего
          -p.years.each do |year|
            %td= p.year_total(year)
            %td 100 %
