=form_tag report_rep_main_path do |f|
  =render :partial => "form_helpers/date_tag",:locals =>  {:label => "Начальная дата", :field_name => "start_date", :hint => ""}
  =render :partial => "form_helpers/date_tag",:locals =>  {:label => "Конечная дата",  :field_name => "end_date", :hint => ""}
  =render :partial => "form_helpers/input_tag",:locals => {:label => "Номер участка",  :field_name => "sector_num", :value => "",:hint =>""}
  .actions
    =submit_tag "Сохранить",:class => "btn primary"
