=render :partial => "disp_invalids",:locals => {:sd => @sd,:ed => @ed, :years => @years}
=render :partial => "invalids_report",:locals => {:sd => @sd,:ed => @ed, :years => @years}
=render :partial => "death_reports",:locals => {:sd => @sd,:ed => @ed, :years => @years}
