=#render :partial => "prof_desease_freq",:locals => {:sd => @sd,:ed => @ed, :years => @years}
=render :partial => "sickness_rate",:locals => {:sd => @sd,:ed => @ed, :years => @years}
=#render :partial => "people_structure",:locals => {:sd => @sd,:ed => @ed, :years => @years}
=#render :partial => "disp_invalids",:locals => {:sd => @sd,:ed => @ed, :years => @years}
=#render :partial => "invalids_report",:locals => {:sd => @sd,:ed => @ed, :years => @years}
=#render :partial => "death_reports",:locals => {:sd => @sd,:ed => @ed, :years => @years}
