=#render :partial => "prof_desease_freq",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "sickness_rate",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "hosp",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "hosp_therap_extra",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "out_consult_count",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "people_structure",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "disp_invalids",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "disp_by_group",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "disp_by_group_imobile",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "disp_by_mkb",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "disp_efficency",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "imobile_death_structure",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "imobile_hosp_report",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "invalids_report",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num}
=#render :partial => "deads_by_ages",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num }
=#render :partial => "deads_by_deseases",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num }
=render :partial => "inspected_disables",:locals => {:sd => @sd,:ed => @ed, :years => @years,:sector_num => @sector_num }
