%a{:tabindex => "0", :href => "#dicts", :class => "fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all", :id => "dict_menu"}
  %span{:class => "ui-icon ui-icon-triangle-1-s"} Справочники
%div{:id => "dicts", :class => "hidden"}
  %ul
    %li
      %a{:href => "#"} Menu option
      %a{:href => "#"} Menu option
      %a{:href => "#"} Menu option
      %a{:href => "#"} Menu option
      %a{:href => "#"} Menu option
