%ul
  %li
    %h2 Искать 
    %div
      =render :partial => "clients/search_form"
    Разделы 
    %ul      
      %li= link_to "Пациенты",clients_path
      %li= link_to "Врачи",users_path
    =render_navigation(:expand_all => false)
