-unless @client.nil? or @client.id.nil?
  =render_navigation
%h3
  %a{:href => "#"} Разделы
%div
  %ul      
    %li= link_to "Пациенты",clients_path
    %li= link_to "Врачи",users_path
%h3
  %a{:href => "#"} Справочники
%div 
  =render_navigation :context => :dict
