
					<div class="box1">
						<div class="box1-in">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce quis leo. Nunc est lacus&hellip;</p>
								<p class="more"><a href="#">more&hellip;</a></p>
						</div>
					</div>

					<div class="box2">
						<div class="box2-in">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce quis leo. Nunc est lacus&hellip;</p>
								<p class="more"><a href="#">more&hellip;</a></p>
						</div>
					</div>
