=form_for [@client, @ref_benefit_category] do |f|
  =render :partial => "form_helpers/input",:locals => {:f => f,:label => "Код", :field_name => "code", :hint => "" }
  =render :partial => "form_helpers/input",:locals => {:f => f,:label => "Краткое наименование", :field_name => "short_name", :hint => "" }
  =render :partial => "form_helpers/input",:locals => {:f => f,:label => "Полное наименование", :field_name => "full_name", :hint => "" }
  =render :partial => "form_helpers/input",:locals => {:f => f,:label => "Процент", :field_name => "percent", :hint => "" }
  =render :partial => "form_helpers/select",:locals => {:f => f,:label => "Источник финансирования", :field_name => "source", :hint => "",:collection => [["Ф",1],["Т",2]]}
  .actions
    =f.submit "Сохранить",:class => "btn primary"
